<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="display:flex; flex-direction: raw; gap:10px;">
    <a href="{% url 'all_users' %}"><button style="padding:10px; border-color:blue; border-radius: 10px;">Вывод всех пользоваелей</button></a>
    <a href="{% url 'double_filter_woman' %}"><button style="padding:10px; border-color:blue; border-radius: 10px;">пользователи женского пола страше 18</button></a>
    <a href="{% url 'double_filter_man' %}"><button style="padding:10px; border-color:blue; border-radius: 10px;">пользователи мужского пола страше 18</button></a>
  </div>
</nav>